.calc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 390px;
    height: 800px;
    margin: 50px auto 0;
    background-color: var(--color-light);
    border-radius: 32px;
    transition: background-color 1s;

    &__stick {
        position: absolute;
        width: 134px;
        height: 5px;
        background-color: var(--color-stick);
        border-radius: 32px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 8px;
        transition: background-color 1s;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        align-items: flex-end;
        margin-right: 43px;
        gap: 8px;
        margin-bottom: 40px;
    }

    &__action {
        background-color: transparent;
        border: none;
        outline: none;
        color: var(--color-action);
        text-align: right;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        /* 180% */
        transition: color 1s;
    }

    &__result {
        background-color: transparent;
        border: none;
        outline: none;
        color: var(--color-letters);
        text-align: right;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        /* 125% */
        transition: color 1s;
    }

    &__btn {
        width: 64px;
        height: 64px;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-letters);
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        user-select: none;
        background-color: var(--color-bg);
        transition: background-color 1s, color 1s;

        &:hover {
            filter: brightness(120%);
        }

        /* 150% */

        &--bg {
            background-color: var(--color-btn);
            transition: background-color 1s;

            svg {
                color: var(--color-letters);
                transition: color 1s;
            }
        }
    }

    &__nums {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &__wrapper {
        transition: background-color 1s;
        position: relative;
        padding: 48px 43px 66px;
        background-color: var(--color-bg);
        display: grid;
        gap: 16px;
        border-radius: 32px;
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "theme procent del mul"
            "seven eight nine minus"
            "four five six plus"
            "one two three result"
            "clear null dot result";
    }
}

.result {
    height: 100%;
    grid-area: result;
    border-radius: 32px;
    background: linear-gradient(180deg, #ED0E98 0%, #FE5A2D 100%);
    box-shadow: 0px 8px 24px 2px rgba(247, 60, 87, 0.40);
}

.clear {
    color: #ED0E98;
}

.theme {
    border: 2px solid var(--color-btn);
    box-sizing: border-box;
    transition: border 1s;
}

.sun {
    display: none;
}

.dark-mode .moon {
    display: none;
}

.dark-mode .sun {
    display: block;
}